In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('dataset/RAW_recipes.csv')

In [12]:
df.head(1)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7

In [16]:
todos_ingredientes = set()
for ingredientes in df['ingredients']:
    todos_ingredientes.update(eval(ingredientes))

# Ordenar os ingredientes alfabeticamente
ingredientes_ordenados = sorted(todos_ingredientes)

In [18]:
# Gerar IDs para os ingredientes
ingredientes_df = pd.DataFrame({'ingredienteId': range(1, len(ingredientes_ordenados) + 1),
                                'nome': ingredientes_ordenados})

In [19]:
ingredientes_df.count()

ingredienteId    14942
nome             14942
dtype: int64

In [20]:
ingredientes_df.head()

   ingredienteId                       nome
0              1          1% fat buttermilk
1              2      1% fat cottage cheese
2              3  1% low-fat chocolate milk
3              4            1% low-fat milk
4              5           10 bean soup mix

In [21]:
# Exportar para um novo arquivo CSV
ingredientes_df.to_csv('dataset/sot_ingredientes.csv', index=False)