In [1]:
import pandas as pd
import random
from faker import Faker

In [2]:
df_raw = pd.read_csv('dataset/RAW_interactions.csv')

In [3]:
df_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [9]:
df = df_raw[['user_id']].drop_duplicates()
df.rename(columns={'user_id': 'usuarioId'}, inplace=True)

In [10]:
df.count()

usuarioId    226570
dtype: int64

In [11]:
fake = Faker('pt_BR')
def gerar_dados_aleatorios():
    genero = fake.random_element(elements=('Masculino', 'Feminino'))

    if genero == 'Masculino':
        nome = fake.first_name_male() + ' ' + fake.last_name_male()
    else:
        nome = fake.first_name_female() + ' ' + fake.last_name_female()

    idade = random.randint(18, 70)  # Idade entre 18 e 70 anos
    peso = random.randint(50, 100)  # Peso como número inteiro entre 50kg e 100kg
    altura = random.randint(150, 200)  # Altura entre 150cm e 200cm
    return nome, idade, peso, altura, genero

# Gerar e adicionar dados ao DataFrame
dados_aleatorios = [gerar_dados_aleatorios() for _ in range(len(df))]
df[['nome', 'idade', 'peso', 'altura', 'genero']] = pd.DataFrame(dados_aleatorios, index=df.index)

In [12]:
df.head()

   usuarioId             nome  idade  peso  altura     genero
0      38094      Cauê da Paz     69    66     182  Masculino
1    1293707     Alexia Costa     43    99     167   Feminino
2       8937  Marcelo Azevedo     25    57     166  Masculino
3     126440      Cauã Aragão     18    56     165  Masculino
4      57222   Sofia da Cunha     61    69     152   Feminino

In [8]:
df.to_csv('dataset/sot_usuarios.csv', index=False)