In [1]:
import pandas as pd

In [2]:
# Lendo o dataset de interações com o avaliacaoId já incluído
df = pd.read_csv('dataset/RAW_interactions.csv')

In [3]:
df.head(1)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...

In [4]:
# Criando um identificador único para cada avaliação
# Combinando o índice do DataFrame com recipe_id e user_id
df['avaliacaoId'] = df.index.astype(str) + '-' + df['recipe_id'].astype(str) + '-' + df['user_id'].astype(str)

# Criando um DataFrame para o relacionamento
relacao_receita_avaliacao = df[['recipe_id', 'avaliacaoId']].copy()
relacao_receita_avaliacao.rename(columns={'recipe_id': 'receitaId'}, inplace=True)

# Reordenando as colunas para que receitaId venha antes de avaliacaoId
relacao_receita_avaliacao = relacao_receita_avaliacao[['receitaId', 'avaliacaoId']]

In [5]:
relacao_receita_avaliacao.head()

   receitaId      avaliacaoId
0      40893    0-40893-38094
1      40893  1-40893-1293707
2      44394     2-44394-8937
3      85009   3-85009-126440
4      85009    4-85009-57222

In [6]:
relacao_receita_avaliacao.count()

receitaId      1132367
avaliacaoId    1132367
dtype: int64

In [7]:
# Exportando para CSV
relacao_receita_avaliacao.to_csv('dataset/rel_receita_avaliacao.csv', index=False)