In [1]:
import pandas as pd

In [2]:
# Carregar o dataset de receitas
df = pd.read_csv('dataset/RAW_recipes.csv')

In [3]:
df.head(1)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7

In [4]:
# Selecionar e renomear as colunas necess√°rias
receitas_df = df[['id', 'name']].copy()
receitas_df.rename(columns={'id': 'receitaId', 'name': 'nome'}, inplace=True)

In [5]:
receitas_df.head()

   receitaId                                        nome
0     137739  arriba   baked winter squash mexican style
1      31490            a bit different  breakfast pizza
2     112140                   all in the kitchen  chili
3      59389                          alouette  potatoes
4      44061          amish  tomato ketchup  for canning

In [6]:
receitas_df.count()

receitaId    231637
nome         231636
dtype: int64

In [7]:
# Exportar para um novo arquivo CSV
receitas_df.to_csv('dataset/sot_receitas.csv', index=False)