In [1]:
import pandas as pd

In [2]:
# Lendo o dataset de interações com o avaliacaoId já incluído
df = pd.read_csv('dataset/RAW_interactions.csv')

In [3]:
df.head(1)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...

In [4]:
# Criando um identificador único para cada avaliação
df['avaliacaoId'] = df.index.astype(str) + '-' + df['recipe_id'].astype(str) + '-' + df['user_id'].astype(str)

# Criando um DataFrame para o relacionamento Avaliação-Usuário
relacao_avaliacao_usuario = df[['avaliacaoId', 'user_id']].copy()
relacao_avaliacao_usuario.rename(columns={'user_id': 'usuarioId'}, inplace=True)

In [6]:
relacao_avaliacao_usuario.head()

       avaliacaoId  usuarioId
0    0-40893-38094      38094
1  1-40893-1293707    1293707
2     2-44394-8937       8937
3   3-85009-126440     126440
4    4-85009-57222      57222

In [7]:
relacao_avaliacao_usuario.count()

avaliacaoId    1132367
usuarioId      1132367
dtype: int64

In [7]:
# Exportando para CSV
relacao_avaliacao_usuario.to_csv('dataset/rel_avaliacao_usuario.csv', index=False)