In [46]:
import numpy as np
import pandas as pd
import seaborn as sns
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import random
import os
from faker import Faker

In [47]:
df_raw = pd.read_csv('dataset/RAW_interactions.csv')

In [48]:
df_raw.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [49]:
df = df_raw[['user_id']].drop_duplicates()

In [50]:
df.count()

user_id    226570
dtype: int64

In [51]:
fake = Faker('pt_BR')
def gerar_dados_aleatorios():
    genero = fake.random_element(elements=('Masculino', 'Feminino'))

    if genero == 'Masculino':
        nome = fake.first_name_male() + ' ' + fake.last_name_male()
    else:
        nome = fake.first_name_female() + ' ' + fake.last_name_female()

    idade = random.randint(18, 70)  # Idade entre 18 e 70 anos
    peso = random.randint(50, 100)  # Peso como número inteiro entre 50kg e 100kg
    altura = random.randint(150, 200)  # Altura entre 150cm e 200cm
    return nome, idade, peso, altura, genero

# Gerar e adicionar dados ao DataFrame
dados_aleatorios = [gerar_dados_aleatorios() for _ in range(len(df))]
df[['nome', 'idade', 'peso', 'altura', 'genero']] = pd.DataFrame(dados_aleatorios, index=df.index)

In [52]:
df.head()

   user_id                    nome  idade  peso  altura     genero
0    38094        Gabrielly da Paz     62    66     184   Feminino
1  1293707  Luiz Gustavo das Neves     27    78     170  Masculino
2     8937         Sarah das Neves     27    52     172   Feminino
3   126440       Eduardo Gonçalves     48    61     167  Masculino
4    57222           Camila Aragão     45   100     160   Feminino

In [53]:
diretorio = 'dataset'
if not os.path.exists(diretorio):
    os.makedirs(diretorio)

# Exportar o DataFrame para um arquivo CSV
caminho_do_arquivo = os.path.join(diretorio, 'RAW_users.csv')
df.to_csv(caminho_do_arquivo, index=False)