In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/RAW_interactions.csv')

In [3]:
df.head(1)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...

In [4]:
# Adicionando um identificador único para cada avaliação
# Combinando o índice do DataFrame com recipe_id e user_id
df['avaliacaoId'] = df.index.astype(str) + '-' + df['recipe_id'].astype(str) + '-' + df['user_id'].astype(str)

# Selecionando as colunas necessárias e renomeando para o padrão do Neo4j
avaliacoes_df = df[['avaliacaoId', 'date', 'rating', 'review']].copy()
avaliacoes_df.rename(columns={'date': 'data', 'rating': 'nota', 'review': 'comentario'}, inplace=True)

In [5]:
avaliacoes_df.head()

,avaliacaoId,data,nota,comentario
0,0-40893-38094,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1-40893-1293707,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,2-44394-8937,2002-12-01,4,This worked very well and is EASY. I used not...
3,3-85009-126440,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,4-85009-57222,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [7]:
avaliacoes_df.count()

avaliacaoId    1132367
data           1132367
nota           1132367
comentario     1132198
dtype: int64

In [6]:
# Exportando para CSV
avaliacoes_df.to_csv('dataset/sot_avaliacoes.csv', index=False)